.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
}

mat-panel-title {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  // text-overflow: ellipsis;
}

mat-form-field {
  width: 200px;
}

mat-icon {
  cursor: pointer;
  color: white;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important;
}

.main-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 15px;
}

.calculate-button {
  margin-top: 15px;
}

@media only screen and (max-width: 800px) {
  .form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
