<mat-card>
  <mat-card-title>Receipt</mat-card-title>

  <mat-form-field floatLabel="auto" appearance="standard">
    <mat-label>Name of Item</mat-label>
    <input
      type="text"
      matInput
      required
      [(ngModel)]="item"
      #itemInput="ngModel"
    />
    <button
      mat-button
      *ngIf="item"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="item = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field floatLabel="auto" appearance="standard">
    <mat-label>Price of Item</mat-label>
    <input
      class="no-spin"
      type="number"
      matInput
      required
      [(ngModel)]="itemPrice"
      #itemPriceInput="ngModel"
    />
    <button
      mat-button
      *ngIf="itemPrice"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="itemPrice = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    (click)="addItem(item, itemPrice)"
    [disabled]="itemInput.invalid || itemPriceInput.invalid"
  >
    Add Item
  </button>

  <div class="clear-all-button-container">
    <button
      mat-flat-button
      color="warn"
      (click)="clearAll()"
      [matBadge]="items.length"
    >
      Clear All Items
    </button>
  </div>

  <mat-accordion *ngFor="let eachItem of items; let i = index">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ eachItem.name }} </mat-panel-title>
        <mat-panel-description>£{{ eachItem.price }}</mat-panel-description>
        <mat-icon (click)="deleteItem(i)">clear</mat-icon>
      </mat-expansion-panel-header>

      <ul>
        <li *ngFor="let eachPerson of eachItem.payers">{{ eachPerson }}</li>
      </ul>

      <mat-action-row>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <mat-select #personInput>
            <mat-option *ngFor="let eachPerson of people" [value]="eachPerson">
              {{ eachPerson }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button (click)="addPayerToItem(i, personInput)">
          Add Payer
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
