mat-step {
  display: flex;
  justify-content: center;
}

button {
  margin-left: 10px;
}

::ng-deep input.mat-input-element {
  color: white;
}

.inputitems-button {
  margin-left: 210px;
  width: 150px;
  height: 40px;
}
