<div class="main">
  <mat-horizontal-stepper linear>
    <mat-step label="Input People" [completed]="moreThan0People()">
      <app-people></app-people>
    </mat-step>

    <mat-step label="Input Items" [completed]="true">
      <app-receipt-items
        (sendingItemsToApp)="calculate($event)"
      ></app-receipt-items>
    </mat-step>

    <mat-step label="Pay" completed="true">
      <mat-table [dataSource]="amountToPay">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.amount }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-step>
  </mat-horizontal-stepper>
</div>
