::ng-deep input.mat-input-element {
  color: white;
}

ul {
  padding: 15px;
}

.large-font {
  font-size: 16px;
}

.mat-column-name {
  max-width: 130px;
}

.mat-column-amount {
  max-width: 80px;
}
