// git
// mat-horizontal-stepper {
//   min-width: 98%;
//   min-height: 90vh;
//   margin: auto;
// }

mat-step {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 350px;
}

button {
  margin-left: 10px;
}
