mat-icon {
  cursor: pointer;
  color: white;
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

mat-list {
  margin-bottom: 20px;
}

mat-form-field {
  width: 200px;
}

.two-buttons {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
}

@media only screen and (max-width: 460px) {
  .buttons {
    display: block;
  }

  .two-buttons {
    margin-bottom: 20px;
  }
}
