<div class="both-arrays">
  <mat-list
    cdkDropList
    [cdkDropListData]="data.fetchedNames"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="chosenNamesRef"
    #allNamesRef="cdkDropList"
  >
    <mat-list-item cdkDrag *ngFor="let name of data.fetchedNames">
      {{ name }}
    </mat-list-item>
  </mat-list>

  <mat-divider [vertical]="true"></mat-divider>
  <div class="middle">
    <mat-icon aria-hidden="false">arrow_right_alt</mat-icon>
    Drag Names to the Right to Select
  </div>
  <mat-divider [vertical]="true"></mat-divider>

  <mat-list
    cdkDropList
    [cdkDropListData]="selectedNames"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="allNamesRef"
    #chosenNamesRef="cdkDropList"
  >
    <mat-list-item cdkDrag *ngFor="let name of selectedNames">
      {{ name }}
    </mat-list-item>
  </mat-list>
</div>

<button mat-flat-button color="primary" (click)="onClick()">OK</button>
